<h2>Create Celebrity</h2>
<form method='POST' action='/celebrities'>
  <input name='name' type='text' placeholder='Name' />
  <input name='occupation' type='text' placeholder='Occupation' />
  <input name='catchPhrase' type='text' placeholder='Catchphrase' />
</form>