<h2>Create Movie</h2>
<form method='POST' action='/movies'>
  <input name='title' type='text' placeholder='Title' />
  <input name='genre' type='text' placeholder='Genre' />
  <input name='plot' type='text' placeholder='Plot' />
  <button>Add movie</button>
</form>